*
{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
font-family: 'Lato', 'Arial', sans-serif;
overflow-x: hidden;
   

}


/* index.html */

.index-body{
    overflow:hidden;
}

nav{
    background: #281564;
     position: fixed !important; 
     z-index:999;
     top: 0; 
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 width: 100%;
    }

.nav-item{
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    font-weight: 700;
   
}


.navbar-brand{
    text-transform: uppercase !important;
    letter-spacing:3px;
     width: 40% !important;
   
    display: flex;
    
    align-items: center;
}

.navbar-brand-text{
   
    padding: 0px 10px;
   
}
.navbar-brand-text p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
   
}
.navbar-brand-text p:nth-child(2){
    font-size: 10px;
    letter-spacing:8px;
 margin: 0 !important;
}


.navbar-brand img{
    width: 8%;
    margin: 0 !important;
   
    
}


.navbar-toggler{
    border: 1px solid white !important;
  
}

.navbar-toggler i{
color:white;
}

.navbar-nav a,.navbar-brand{
    color: #fff !important;
    text-transform: capitalize;
}
#navbarNavAltMarkup{ 
justify-content:flex-end;
}

.navbar-nav{

    width:50%;
    display: flex;
    justify-content: space-evenly;
}

.jumbo::before{
   content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0c1925;

    opacity: 0.5;
    z-index: -1;

}


.jumbo{
    height:100vh;
background-image: url('../img/FS4xlTfWUAAallo.jpeg');
background-size:cover;
background-position:fixed;
background-repeat:no-repeat;
position: relative;
z-index: 1;
display:flex;
align-items:center;
justify-content: center;
   

}

.jumbo-card-content{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    color:white;

}

.jumbo-card p{
text-transform: uppercase;
font-size:15px;
font-weight: 600;
letter-spacing:2px;
color: white !important;
    font-family: 'Lato', 'Arial', sans-serif;
   
}

.title-01{
text-transform: capitalize !important;
   font-family: 'Lato', 'Arial', sans-serif !important;
    font-size: 68px !important;
    line-height: 78px;
    color: #fff;
    font-weight: 100 !important;
    
}

.title-01 span{
    font-weight: 700;
}

.button-container{
display: flex;
align-items: center;
justify-content:flex-start;
}


.button-container a:nth-child(1){
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    font-weight: 700;
    background-color: #281564;
    border:2px solid #281564;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 15px 50px 17px;
    margin: 5px 7px 5px 0;
    letter-spacing: 0.5px;
    outline: none;
    transition: all ease-in 0.2s;
    text-decoration: none;
    text-align: center;

}

.button-container a:nth-child(1):hover{
     border:2px solid white;
    background-color: transparent;
     
}




.button-container a:nth-child(2){
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    font-weight: 700;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 15px 50px 17px;
    margin: 5px 7px 5px 0;
    letter-spacing: 0.5px;
    outline: none;
    text-decoration: none;
    border:2px solid white;
    transition: ease-in-out 0.2s;
    text-align: center;

    
}

.button-container a:nth-child(2):hover{
     border:2px solid #281564;
    background-color:#281564;
     
}

.siblings{
    height: 70vh;

}

.siblings h1{
text-transform: capitalize;
font-size: 42px;
    line-height: 44px;
    font-weight: 700;
    color:white;
}

.sibling-03 h1{
    text-transform: capitalize;
font-size: 42px;
    line-height: 44px;
    font-weight: 700;
    color:#42474c;
}

.siblings p{
    font-size: 16px;
    line-height: 24px;
    color: #fff;

}

.sibling-03 p{
    font-size: 16px;
    line-height: 24px;
    color: #42474c;

}

.sibling-01{
    height:inherit;
    background: #271D57; 
    padding: 56px 90px 68px;
    display: table-cell;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    vertical-align: top;
}

.links-01,.link-02,.link-03{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
justify-content: center;
}

.links-01 a{
    text-decoration: none;
        font-size: 14px;
    line-height: 36px;
    font-weight: 700;
    list-style: none;
    display: block;
    color: #a8a0cc;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.links-02 a{
    text-decoration: none;
        font-size: 14px;
    line-height: 36px;
    font-weight: 700;
    list-style: none;
    display: block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}


.links-03 a{
    text-decoration: none;
        font-size: 14px;
    line-height: 36px;
    font-weight: 700;
    list-style: none;
    display: block;
    color: rgba(0,0,0,7);
    text-transform: uppercase;
    letter-spacing: 0.5px;
}



.sibling-02{
    height:inherit;
    background: #4EAAC8;
    height:inherit;
    padding: 56px 90px 68px;
    display: table-cell;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    vertical-align: top;
}
.sibling-03{
    height:inherit;
    background: #F6F8F9;
    height:inherit;
    padding: 56px 90px 68px;
    display: table-cell;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    vertical-align: top;
}

.absolute-left{
    height: 100vh;
     position: relative;
     padding-bottom:50% ;
    
}

.ab-left{
     
    display:flex;
    align-items: center;
    justify-content:center;
     position: relative;
   
}

.ab-left-09{
     
    display:flex;
    align-items: center;
    justify-content:center;
     position: relative;
   
}

.ab-pic{
    position: relative;
    height: 70vh;
    background-image: url('../img/black-mental-health-scaled.jpg');
    background-size:cover ;
    background-repeat:no-repeat ;
    width: 30vw;
    border-radius: 5px;
    background-position:center ;

}

.ab-pic-01{
    position: relative;
    height: 70vh;
    background-image: url('../img/blog_post_01.jpg');
    background-size:cover ;
    background-repeat:no-repeat ;
    width: 30vw;
    border-radius: 5px;
    background-position:center ;

}


.ab-pic-absolute{
    position:absolute;
     height: 70vh;
     width: 20vw;
     top:20%;
     left:65%;
    border-radius: 10px;
background-image: url('../img/young-woman-talks-to-attentive-therapist-royalty-free-image-1596745532.jpg');
    background-size:cover;
    background-position:center ;
    background-repeat:no-repeat ;

}

.ab-pic-absolute-01{
    position:absolute;
     height: 70vh;
     width: 20vw;
     top:20%;
     right:65%;
    border-radius: 10px;
background-image: url('../img/find-therapist-same-cultural-background-community_1200W.jpg');
    background-size:cover ;
    background-repeat:no-repeat ;
    


}


.ab-right{
   display:flex;
    align-items: flex-start;
    justify-content:center;
    flex-direction: column;
    padding: 56px 90px 68px;
}
.ab-right p{
    font-size: 14px;
    color: #5c656d;
    font-weight: 700;
    
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}

.title-02::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    height: 1px;
    background-color: #d9e0e4;
    position: absolute;
    bottom: 0;
    left: 0;
}

.title-02{
font-size: 36px;
    line-height: 38px;
    color: #42474c;
    position: relative;
    padding-bottom: 26px;
    margin-bottom: 31px;
}
.title-02 span{
font-weight: 700;
}

.about-01{
    font-size: 18px !important;
    line-height: 30px;
    font-family: 'Lato', 'Arial', sans-serif;
    color: #5c656d;
    font-weight: 300 !important;
    margin-bottom: 5px;
}

.ab-right button{
  font-size: 12px;
    line-height: 14px;
    color: #281564;
    font-weight: 700;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 15px 50px 17px;
    margin: 5px 7px 5px 0;
    letter-spacing: 0.5px;
    outline: none;
    border:2px solid #281564;
    transition: ease-in-out 0.2s;  
}

.ab-right button:hover{
     border:2px solid #281564;
    background-color:#281564;
    color:#fff;
}
.container-01{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
 
.content-01{
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
    padding: 20px 0px;
   
}

.content-01 img{
    margin-bottom: 17px;
}

.container-01 h4{
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
   margin-bottom: 10px;
    color: #fff;
}

.container-01 p{
    font-family: 'Lato', 'Arial', sans-serif;
        font-size: 12px;
    line-height: 20px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.meet-team{
    height: 100vh;
    padding: 40px 120px;
   
}

.meet-team-head-01 p{
    
    font-size: 14px;
    line-height: 16px;
    color: #5c656d;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 19px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}

.meet-team-head-01 h3{
    font-family: 'Lato', 'Arial', sans-serif;
font-size: 36px;
    line-height: 38px;
    color: #42474c;
    margin-top: 4px;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
}

.meet-team-head-02 p{
    font-size: 18px;
    line-height: 30px;
    color: #5c656d;
 font-family: 'Lato', 'Arial', sans-serif;
 font-weight: 300;
    margin-bottom: 5px;
}

.meet-team-body{
 
 padding: 20px 0px;
    width: 100%;
}
.meet-team-body-01{
    text-align: center;
  
}

.meet-team-body-01-img{

height: 50vh;
padding: 0% !important;
position: relative;
    max-width: 370px;
    display: flex;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 10px;
}

.meet-team-body-01-img img{
   
    flex-shrink: 0.6;
    max-width: 100%;
    max-height: 100%;
}

.meet-team-body-01 p{
    font-size: 18px;
    color: #281564;
    margin: 0%;
    
}

.news{

    height: 100vh;
     padding: 40px 120px;
}

.news-head{
    text-align: center;
}
.news-head h6{
font-size: 14px;
    line-height: 16px;
    color: #5c656db7;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 19px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}
.news-head h3::before{
   content: '';
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    height: 1px;
    background-color: #d9e0e4;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -35px;
}

.news-head h3{
    font-size: 36px;
    line-height: 38px;
    color: #42474cec;
    position: relative;
    padding-bottom: 26px;
}

.news-head h3 span{
    font-weight: 700;
}

.news-body-01{
    background: #FFFF;
    height: 70vh;
    border-radius:5px;
   

}
.news-body-01-img{
    overflow: hidden;
    display: flex;
    justify-content:center;
    align-items:center;
     vertical-align: middle;
   
}

.news-body-01-img img{
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 0.9;
}

.news-body-01-text{
    padding: 20px 20px 30px;
}

.news-body-01-text h3{
    outline: none;
    text-decoration: none;
    color: #42474c;
    font-weight: 400;
    text-transform: capitalize;
}

.news-body-01-text p{
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #5c656d;
    font-weight: 300;
    margin-bottom: 20px;
}

.news-body-01-text a{
    outline: none;
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
    color: #4eaac8;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.6px;
    position: relative;
}

.news-body-01-text a::after{
   font-family:'Font Awesome';
    content: "\f024";
    font-weight: 300;
    font-size: 12px;
    /* line-height: 14px; */
    color: #4eaac8;
    margin-left: 9px;
}


/* start slider */
.container-02-head{
    font-size: 14px;
    line-height: 16px;
    color: white;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 19px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}

.container-02-head h3::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -35px;

}

.container-02-head h3{
    font-size: 36px;
    line-height: 38px;
    color: white;
    position: relative;
    padding-bottom: 26px;
}
.container-02-head h3 span{
    font-weight:700;
}


.panel-thumbnail{
    
border-radius: 5px;
text-align: left;
padding-bottom: 10px;
}

.panel-thumbnail img{
    opacity: 0.9;
    height: 30vh;
}

.panel-thumbnail img:hover{
    opacity: 1;
}

.panel-thumbnail h3{
        color: white;
        font-weight: 400;
        text-transform: capitalize;
    margin: 0 !important;
    font-size:25px;
}

.panel-thumbnail p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: white;

}

.carousel-link{
        outline: none;
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
          color: white;

    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
}

.carousel-link:after{
        font-family: 'FontAwesome';
    content: '\f105';
    display: inline-block;
    vertical-align: middle;
           color: white;

    font-weight: 400;
    margin-left: 10px;
    margin-bottom: 2px;
    transition: 0.5s all;
}
/* end slider */



.footer-top{
height: 40vh;
position: relative;

}

.footer-top-01{
    height: 50vh;
background:white;
position: absolute;
top:0%;
left:25%;
 box-shadow: rgba(149, 157, 165, 0.336) 0px 8px 24px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}
.footer-top-01 h2{
    text-transform: capitalize;
}
.footer-top-01 h2 span{
    font-weight:700;
}


.footer-top-01 a{
     font-size: 12px;
    line-height: 14px;
    color: #fff;
    font-weight: 700;
    background-color: #281564;
    border:2px solid #281564;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 15px 50px 17px;
    margin: 5px 7px 5px 0;
    letter-spacing: 0.5px;
    outline: none;
    transition: all ease-in 0.2s;
    text-decoration: none;
    text-align: center;
}

.footer-top-01 a:hover{
      border:2px solid #281564;
      color:#281564;
    background-color: transparent;
}

.footer-bottom{
height: 20vh;
background: #252525;

}

.footer-end{
    height: 10vh;
background: #2B2B2B;
display: flex;
justify-content: space-between;
align-items: center;
}

.footer-end p{
color:#758080;
text-transform: capitalize;
font-size: 12px;

}
.footer-end-01{
display: flex;
justify-content: space-evenly;
align-items: center;

}

.footer-top-01 p{
    color: #271D57;
}


.footer-end-02{
display: flex;
justify-content: center;
align-items: center;
vertical-align: middle;

}
.footer-end-01 a{
    text-decoration: none;
    outline: none;
color:#758080;
text-transform: capitalize;
font-size: 12px;
}


/* index.html */
/*// Parallax //*/
.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    width: 100% !important;

}

.parallax-01 {
	background-image: url("../img/woman-therapist-talking-to-female-patient-1296x728-header.webp");
	background-size: cover;
	padding: 82px 0 68px;
	position: relative;
	text-align: center;
	z-index: 1;
    width: 100% !important;

}

.parallax-01::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(4, 18, 29, 0.6);
	z-index: -1;
}


.parallax-02 {
	background-image: url("../img/best-online-therapy-header.png");
	background-size: cover;
	padding: 100px 0 68px;
	position: relative;
	text-align: center;
	z-index: 1;
    width: 100% !important;

   
}

.parallax-02::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(4, 18, 29, 0.6);
	z-index: -1;
}

.parallax-02 .owl-theme-01__item-text p {
	color: #fff;
}

.parallax-02 .owl-theme-01__item-user-name {
	color: #fff;
}

.parallax-02 .owl-theme-01__item-user-subtitle {
	color: #fff;
}


/* contact.html */
.contact-form{
    padding: 90px 90px ;
}
.form-left::after{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color:rgba(0,0,0,0.8);
left: 0;
top: 0;
}


.form-left{
    position: relative;
    padding: 20px ;
   background-image: url("../img/woman-therapist-talking-to-female-patient-1296x728-header.webp");
background-size:cover ;
background-repeat: no-repeat;
background-position: center;
z-index: 1;


}

.form-left h6{
font-size: 14px;
    line-height: 16px;
    color: white;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 18px;
        text-transform: uppercase;
    margin: 6px 0 0;
    letter-spacing: 0.3px;
}
.form-input-head{
      margin: 10px 0px;
     
}

.form-input-head h6{
font-size: 14px;
    line-height: 16px;
    color: white;
    font-weight: 700;

        text-transform: uppercase;
  margin: 0% !important;
    letter-spacing: 0.3px;
}


.form-left h3::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    height: 1px;
    background-color: #d9e0e4;
    position: absolute;
    bottom: 0;
    left: 0;
}


.form-left h3{
font-size: 36px;
    line-height: 38px;
    color: white;
    position: relative;
    padding-bottom: 26px;
    margin-bottom: 31px;
}
.form-left h3 span{
    font-weight: 700;

}


.form-left p{
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: white;
    font-weight: 300;
    margin-bottom: 5px;
}

.form-control{
    background:transparent;
    border: 1px solid white;
    margin: 0px 12px;
color:white !important;
     
}

.form-control:focus{
    background:transparent;
color:white;
}



.form-input{
    padding: 0px !important;
   padding-top: 50px !important;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.form-input textarea{
     margin: 20px 10px !important;
}

.form-control{
    margin: 0px 10px;
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #e7e8e9;
   
    border-radius: 5px;
    padding: 10px 20px;
}

.form-right{
  
    padding: 0 !important;
}

.form-right iframe{
width:100%;
height:100%;
border:0;

}

.form-input textarea{
    margin: 10px 0px;
    width: 100%;
    resize: none;
    border: 1px solid white ;
    border-radius: 5px;
    padding: 13px 20px;
    height: 120px;
    
}

.form-input button{
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 18px 29px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    background-color: #4eaac8;
    letter-spacing: 0.5px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
        margin: 0px 10px;
        outline: none;

}

.form-input button:hover{
    background-color: #1e96be;

}

.form-input button:hover{
    outline: none;


}


/* contact.html */





/* about.html */
.about-body{
    padding: 100px 0px;
    overflow: hidden;
}

.about-slide{
    background: #281564;
    text-align: center;
    padding: 10px 0px;
    margin: 50px 0px;

}

.about-start{
    display: flex;
    align-items: center;
justify-content: center;


}

.about-start-01{
    height: 60vh;
    margin-bottom: 20px;
	background-image: url("../img/best-online-therapy-header.png");
background-size:cover ;
background-repeat: no-repeat;
background-position: center;


}


.about-start-02{
    height: 60vh;
  padding-left: 50px;
}

.about-start-02 p{
    font-size: 14px;
    line-height: 16px;
    color: #5c656d;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}

.about-start-02 h3::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    height: 1px;
    background-color: #d9e0e4;
    position: absolute;
    bottom: 0;
    left: 0;
}


.about-start-02 h3{
    font-size: 36px;
    line-height: 38px;
    color: #42474c;
    position: relative;
    padding-bottom: 26px;
    margin-bottom: 31px;
}

.about-start-02 h3 span{
    font-weight: 700;
}

.adout-start-02-text p{
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #5c656d;
    font-weight: 300;
    margin-bottom: 5px;
    text-transform: none;
}



/* about.html */


/* explore.html */
.explore-body{
    height: 100vh;
    padding: 100px 0px;
    overflow: hidden;
}
.explore-01{
    display: flex;
    align-items: center;
justify-content: center;
}

.explore-left{
    height: 60vh;
    margin-bottom: 20px;
	background-image: url("../img/best-online-therapy-header.png");
background-size:cover ;
background-repeat: no-repeat;
background-position: center;


}

/* explore.html  */





@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }



}

 /* Bootstrap Lightbox using Modal */

#profile-grid { overflow: auto; white-space: normal; } 
#profile-grid .profile { padding-bottom: 40px; }
#profile-grid .panel { padding: 0 }
#profile-grid .panel-body { padding: 15px }
#profile-grid .profile-name { font-weight: bold; }
#profile-grid .thumbnail {margin-bottom:6px;}
#profile-grid .panel-thumbnail { overflow: hidden; }
#profile-grid .img-rounded { border-radius: 4px 4px 0 0;}




@media only screen and (max-width: 600px){


/* index.html */
.jumbo{
    width: 100% !important;
}


.navbar-brand img{
    width: 25% !important;
    margin: 0 !important;
 
    
}
.navbar-brand-text p:nth-child(2){
    font-size: 7px;
    letter-spacing:5px;
 margin: 0 !important;
 
}

.navbar-brand-text p{
    font-size: 14px;
}
.nav-item{
    font-size: 12px;
    letter-spacing:1px;
    padding: 18px 0px !important;
    text-transform: uppercase !important;
    font-weight: 400 !important; 

   
}

.navbar-brand-text{
   
    padding: 0px !important;
   
}

.navbar-brand{
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title-01{
    font-size: 50px !important;
      line-height: 48px;
}




.siblings{
    height: inherit;
    overflow: hidden;
    width: 100% !important;
   margin: 0% !important;
  

}
.sibling-01,.sibling-02,.sibling-03{
     padding: 56px 40px 68px;

}

.absolute-left{
    padding: 20px 0px;
    height: 100% !important;
    width: 100% !important;

}

.ab-pic-absolute{
    height: 30vh;
    width: 40vw;

}
.ab-pic{
    height: 30vh;
     width: 50vw;

}

.content-01 img{
    margin-bottom: 0px !important;
}
.content-01 span{
    height: 8vh;

}

.container-01 h4{
    font-size: 28px;
    margin: 0px !important;
    
}

.container-01 p{
    margin: 0px !important;

}

.ab-left-09{
    justify-content: flex-end !important;
  
    padding-right:  50px !important;
    
    
}
.ab-left{
    justify-content: flex-start !important;
   
    padding-left:  50px !important;
    
    
}

.ab-right{
       padding: 56px 40px 68px;
    


}


.ab-pic-01{
    height: 30vh;
     width: 50vw;
    
}

.ab-pic-absolute-01{
    height: 30vh;
    width: 40vw;
}

.absolute-left{
    width: 100% !important;

}


.meet-team{
    padding: 60px 20px;
    height: inherit !important;
    width: 100% !important;
   
  
   

}

.meet-team-body-01{
padding:12px 0px ;

}


.meet-team-body-01-img{
height: 30vh;
display: flex;
align-items: center;
justify-content: center;

}
.meet-team-body-01-img img{
    border-radius: 10px;

}


.container-02-head p{
    font-size:18px;
}

.carousel-link,.panel-thumbnail p{
    font-size: 18px;

}

.news{

    height: inherit;
     padding: 40px 40px;
    width: 100% !important;
   
}
.news-body-01{
    height: inherit;
    margin-bottom: 20px;
    padding: 0px !important;
}



footer{
    width: 100% !important;

}



.footer-top-01{
    left:10% !important;
    width: 80%;
    padding: 0px 20px;
  
}


.footer-end-01{
justify-content: flex-start;
   

}


.footer-end-02 p{
margin: 0px !important;
}


.footer-end p{
    font-size: 8px;

}
.footer-end-01 a{
    font-size: 8px;
    margin: 0px 3px;
}




/* index.html */


/* contact.html */
.contact-form{
    padding: 90px 0px ;
    padding-left: 30px;
    
    width: 100% !important;
    
}


.form-right iframe{

height:60vh;


}


.form-control{
    margin: 10px 10px;
}

/* contact.html */

/* about.html */

/* about.html */
.about-start-01{
    margin:0px 20px;


}




}
















